* {
  margin: 0;
  padding: 0;
}

@import url("http://fonts.cdnfonts.com/css/plexifont");
@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap");

// global variables and variables
$awesome-font-1: "Plexifont BV", sans-serif;
$awesome-font-2: "Tourney", cursive;
$awesome-font-3: "VT323", sans-serif;
$awesome-font-4: "DotGothic16", cursive;
$awesome-font-5: "Bungee Hairline", cursive;

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(199, 199, 199);
}

body {
  margin: 0;
  padding: 0;
  font-family: "PxPlus_IBM_VGA8";
  background: #000;
  //   display: grid;
  //   place-items: center;
  height: 100vh;
  overflow-x: hidden;

  .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;

    .loader {
      width: 50%;
      height: auto;
      padding: 10px;
      //   background: #2a2a2a;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      #loader_heading {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3rem !important;
      }
      .loader-inner {
        height: 5px;
        width: 40%;
        background: #2a2a2a;
        margin: 20px;
        overflow: hidden;
        border-radius: 5px;
        .loader-bar {
          height: 5px;
          // width:20%;
          background: rgb(255, 255, 255);
          border-radius: 5px;
        }
      }
    }
  }
  .section-one {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 50;
    //   transform:translateX(100%);
    background: rgb(255, 255, 255);
    .bg-text {
      font-size: 45rem;
      position: absolute;
      opacity: 0.05;
      z-index: 10;
    }

    .hero-one {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 30;
      .section-1-header {
        color: black;

        font-size: 8rem;
        text-align: center;
        position: relative;
        font-family: Fira Code;

        &::selection {
          color: white;
          background: #000;
          background-image: url(https://thumbs.gfycat.com/AltruisticWatchfulCornsnake-size_restricted.gif);
        }
      }
      .btn-container {
        height: 100px;
        width: 30%;
        // border: 1px solid rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;

        .hero-btn {
          height: 60px;
          width: 170px;
          font-size: 1.35rem;
          background: #000;
          color: white;
          border: none;
          margin: 20px;
          cursor: pointer;
          // border-radius: 30px;
          font-family: Fira Code;

          transition: all 100ms ease-in-out;

          &:nth-child(2) {
            background: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            border: 1px solid #000;

            &:hover {
              background: #000;
              color: white;
              //    background-image: linear-gradient(
              //     to right top,
              //     #d16ba5,
              //     #c36ab1,
              //     #b16abc,
              //     #9a6cc6,
              //     #7c6fce,
              //     #736cd2,
              //     #6969d5,
              //     #5c67d9,
              //     #735bd8,
              //     #8a4cd3,
              //     #a136ca,
              //     #b600be
              //   );
            }
          }
          &:nth-child(1) {
            background: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            border: 1px solid rgb(0, 0, 0);

            &:hover {
              background: rgb(255, 255, 255);
              color: rgb(0, 0, 0);
              //    background-image: linear-gradient(
              //     to right top,
              //     #d16ba5,
              //     #c36ab1,
              //     #b16abc,
              //     #9a6cc6,
              //     #7c6fce,
              //     #736cd2,
              //     #6969d5,
              //     #5c67d9,
              //     #735bd8,
              //     #8a4cd3,
              //     #a136ca,
              //     #b600be
              //   );
            }
          }
          &:active {
            transition: all 100ms ease-in-out;
            transform: scale(0.95);
          }
        }
      }
      .social-container {
        left: 0;
        height: auto;

        ul {
          list-style: none;
          display: flex;

          li {
            margin-left: 30px;
            margin: 20px;
            a {
              text-decoration: none;
              color: black;
              font-size: 2.5rem;
            }

            &:hover {
              transform: translateY(-10px);
              transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
              background-image: linear-gradient(
                to right top,
                #d16ba5,
                #c36ab1,
                #b16abc,
                #9a6cc6,
                #7c6fce,
                #736cd2,
                #6969d5,
                #5c67d9,
                #735bd8,
                #8a4cd3,
                #a136ca,
                #b600be
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }
  .section-two {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: #000;
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;

    .work-container {
      height: 80vh;
      width: 80%;
      // border: 1px solid #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      overflow-y: scroll;
      overflow-x: hidden;

      .projects {
        height: 70vh;
        width: 60vw;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
        margin: 10vh;
        position: relative;
        .project-desc {
          width: 45vw;
          height: 65vh;
          display: flex;
          margin: auto;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          text-align: left;
          .project-title {
            color: white;
            font-family: Fira Code;
            font-size: 2.5rem;
            text-align:left;
            
            font-weight: bold;
            margin-left: 30px;
          }
          .project-details {
            color: white;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.5rem;
            width: 90%;
            text-align: justify;
            margin: 30px;
            font-weight: 100;
          }
          a {
            .more-about-the-project {
              height: 60px;
              width: auto;
              padding:5px;
              font-size: 1.35rem;
              background: #000;
              color: white;
              border: none;
              margin-left: 40px;
              cursor: pointer;
              // border-radius: 30px;
              border: 1px solid #fff;
              font-family: Fira Code;
              i{
                padding:10px;
              }


              transition: all 100ms ease-in-out;
              &:hover {
                background: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
              }

              &:active {
                transition: all 100ms ease-in-out;
                transform: scale(0.95);

              }
            }
          }
        }
        .project-gif {
          width: 30vw;
          height: 55vh;
          background: #fff;
          position: relative;
          left: 40px;
        }
      }
    }
    .back-page {
      position: absolute;
      bottom: 40px;
      left: 50px;
      height: 70px;
      width: 70px;
      font-size: 1.5rem;
      border-radius: 50%;
      border: none;
      color: white;
      border: 1px solid white;
      background: rgb(0, 0, 0);
      cursor: pointer;
      transition: all 100ms ease-in-out;
      &:hover {
        transform: translateX(-10px);
        transition: all 100ms ease-in-out;
        &:hover i {
          transform: translateX(-10px);
        }
      }
    }
  }
}
